$font-main: "Open Sans", sans-serif
$font-pod: "Podkova", serif



body
	font-family: $font-main
	font-size: 16px
	font-weight: 400
	color: #6d4d41
	background: #664237 url(../img/bg_top.jpg) 50% 0 no-repeat
	overflow-x: hidden
	height: 3000px

h1, h2, h3, h4, h5, h6,
	font-family: $font-pod
	margin: 0

p
	font-size: 14px
	font-weight: 300
	color: #888
	line-height: 24px
	margin: 0

.h2_main
	font-size: 60px
	font-weight: 700
	color: #724537
	margin-bottom: 50px
	text-align: center
	&::after
		content: ''
		display: block
		width: 134px
		height: 3px
		margin: 10px auto 0
		background-color: #d89e74

.link_btn
	font-size: 18px
	font-weight: 700
	color: #3b2821
	width: 100%
	max-width: 300px
	height: 66px
	line-height: 66px
	border-radius: 33px
	background: #ffc17f
	background-image: linear-gradient(90deg, #ffc17f 0%, #ffe4b5 100%)
	text-transform: uppercase
	text-align: center
	display: inline-block
	&:hover
		color: #3b2821
		text-decoration: none

header
	padding: 30px 0
	.logo
		display: inline-block
		.l_dark
			display: none
	.r_block
		margin-top: 10px
		float: right
		.phone
			position: relative
			text-align: right
			display: inline-block
			img
				position: absolute
				left: -37px
				top: 13px
		.num
			font-family: $font-pod
			font-size: 24px
			font-weight: 700
			color: #fff
		.call
			font-size: 18px
			font-weight: 300
			color: #ffcd91
			border-bottom: 1px dashed #ffcd91
			text-decoration: none
		.canvas_menu
			background-color: transparent
			border: none
			outline: none
			width: 51px
			height: auto
			margin-left: 30px
			padding: 3px
			cursor: pointer
			vertical-align: super
			span
				display: block
				width: 45px
				height: 3px
				background-color: #fff
				& + span
					margin-top: 14px
				&:first-child
					width: 38px
					margin-left: 7px
				&:last-child
					width: 31px
					margin-left: 14px

.s_main
	padding: 150px 0 80px
	.h_title
		font-family: $font-pod
		font-size: 90px
		font-weight: 700
		color: #fde0be
		margin: 0 0 60px
		line-height: 95px
		max-width: 850px
	.h_text
		font-size: 30px
		font-weight: 300
		color: #fee9d1

.s_catalog
	padding-top: 80px
	background-color: #FBF1EA
	.block_btn
		text-align: center

.s_services
	padding-top: 80px
	background-color: #FBF1EA


