@font-face {
  font-family: "Din Pro";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINPro-Regular.otf");
}

@font-face {
  font-family: "Din Pro";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/DINPro-Light.otf");
}

@font-face {
  font-family: "Din Pro";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/DINPro-Medium.otf");
}

@font-face {
  font-family: "Din Pro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/DINPro-Bold.otf");
}

@font-face {
  font-family: "Din Pro";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/DINPro-Black.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Montserrat-Italic.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Montserrat-Thin.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Montserrat-ThinItalic.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Montserrat-ExtraLight.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Montserrat-ExtraLightItalic.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Montserrat-LightItalic.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat-Medium.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Montserrat-MediumItalic.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Montserrat-SemiBoldItalic.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Montserrat-BoldItalic.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Montserrat-ExtraBold.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/Montserrat-ExtraBoldItalic.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Montserrat-Black.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Montserrat-BlackItalic.otf");
}
